<h1>Enrolled Students</h1>
<%= link_to "To Current School", school_url(@students.first.school.id), class: 'btn btn-default' %>
<hr>
<h2> Current Location: <%=@students.first.school.name%></h2>
<hr>
<% @students.each do |student| %>
  <div class='col-md-offset-2 col-md-6'>
    <%= link_to student.name, school_student_path(student.school.id, student.id), class: 'btn btn-default' %>
  </div>
<% end %>
<div class = "col-md-offset-2 col-md-6">
<%= paginate @students %>
</div>
