<div class='col-md-offset-2 col-md-6'>
  <%= form_for(@school, class: 'form') do |f| %>

    <div class='row'>
      <div class='col-md-12'>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class='row'>
      <%= f.submit %>
    </div>
  <% end %>
</div>
