<h1>Schools#index</h1>
<p>Find me in app/views/schools/index.html.erb</p>
<% @schools.each do |school| %>
  <div class='col-md-offset-2 col-md-6'>
    <%= link_to school.name, school, class: 'btn btn-default' %>
  </div>
<% end %>
<div class = "col-md-offset-2 col-md-6">
<%= paginate @schools %>
</div>
